__pycache__
src/graph/__pycache__/__init__.cpython-36.pyc
src/graph/__pycache__/__init__.cpython-37.pyc
src/graph/__pycache__/__init__.cpython-37.pyc
src/graph/__pycache__/__init__.cpython-36.pyc
*.xml
.idea/spectro.iml
src/graph/__pycache__/__init__.cpython-36.pyc
*.pyc
*.pyc
*.pyc
src/graph/__pycache__/__init__.cpython-36.pyc
src/graph/__pycache__/__init__.cpython-37.pyc
*.pyc
/build_armv8/.buildozer/
